body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;

    a { text-decoration:  none;}

    li { list-style-type: none;}
}

/* Flex Container */
header {
    display: flex;
    padding: 20px 60px;
    align-items: center;
    background-color: rgb(155, 65, 228);
    justify-content: space-between;

    .logo-content {
        p {
            color: #FFF;
            cursor: pointer;
            font: bold 1.5em Helvetica, sans-serif;
        }
    }

    nav {
    
        /* Flex Container */
        ul {
            gap: 50px;
            display: flex;
            align-items: center;

            li {
                order: 0;                   
                color: #FFF;
                flex-grow: 1;             
                flex-shrink: 1;          
                align-self: auto; 
                cursor: pointer;
            }
        }
    }
}
